@using WebApplication6.ViewModels
@model HomeViewModel


@*@modelim benim classım olabilir*@

@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    h{
        float :right;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>HomePage</h2>
            <hr /><br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div>
                @Html.ActionLink("Yeni Kişi Ekle","NewPerson",null, new { @class = "btn btn-primary" }) 
            </div><br />
            <ul class="list-group">
                <li class="list-group-item active">
                    <h3>Kişiler</h3> 
                </li>
                @foreach (var item in Model.personModel)
                {
            <li class="list-group-item">
                <svg class="bi bi-person-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>&ensp;
                @(item.FirstName + " " + item.LastName) (<i>@(item.Age)</i>) <h>@Html.ActionLink("Düzenle", "UpdatePerson", new { personid = item.Id }, new { @class = "btn btn-sm btn-outline-warning"})&ensp;@Html.ActionLink("Sil","DeletePerson",new { personid = item.Id}, new { @class = "btn btn-sm btn-outline-danger" })</h>
            </li>
                }
            </ul>
        </div>

        <div class="col-md-6">
            <div>
                @Html.ActionLink("Yeni Adres Ekle", "NewAddress", null, new { @class = "btn btn-primary" }) 
            </div><br />
            <ul class="list-group">
                <li class="list-group-item active">
                    <h3>Adresler</h3>
                </li>
                @foreach (var adres in Model.addressModel)
                {
            <li class="list-group-item">
                <svg class="bi bi-house-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                </svg>&ensp;
                @adres.OpenAddress @("/")  <i>@adres.Person.FirstName</i>  <h>@Html.ActionLink("Düzenle", "UpdateAddress", new { addressid = adres.Id }, new { @class = "btn btn-sm btn-outline-warning" })&ensp;@Html.ActionLink("Sil", "DeleteAddress", new { addressid = adres.Id }, new { @class = "btn btn-sm btn-outline-danger" })</h>
            </li>
                }
            </ul>
        </div>
    </div>
</div>





